.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  background-color: forestgreen;
  text-align: right;
}

nav a {
  font-size: 1.9rem;
  margin: 1%;
  font-family: 'Josefin Sans', Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: gainsboro;
}

.active {
  font-weight: 800;
  color: lightgrey;
  text-decoration: underline
}


footer {
  text-align: center
}